@import "tailwindcss";

@theme {
  /* unair blue  */
  --color-primary-50: #E8F0F7;
  --color-primary-100: #D1E1EF;
  --color-primary-200: #A3C3DF;
  --color-primary-300: #75A5CF;
  --color-primary-400: #4787BF;
  --color-primary-500: #14497F;
  --color-primary-600: #103B66;
  --color-primary-700: #0C2D4D;
  --color-primary-800: #081F34;
  --color-primary-900: #04101B;
  --color-primary: #14497F;

  /* unair yellow */
  --color-secondary-50: #FFF9E6;
  --color-secondary-100: #FFF3CC;
  --color-secondary-200: #FFE799;
  --color-secondary-300: #FFDB66;
  --color-secondary-400: #FFD333;
  --color-secondary-500: #FFCB05;
  --color-secondary-600: #CCA204;
  --color-secondary-700: #997A03;
  --color-secondary-800: #665102;
  --color-secondary-900: #332901;
  --color-secondary: #FFCB05;

  /* unair red */
  --color-danger-50: #FCE8E8;
  --color-danger-100: #F9D1D1;
  --color-danger-200: #F3A3A3;
  --color-danger-300: #ED7575;
  --color-danger-400: #E74747;
  --color-danger-500: #E62B2B;
  --color-danger-600: #B82222;
  --color-danger-700: #8A1A1A;
  --color-danger-800: #5C1111;
  --color-danger-900: #2E0909;
  --color-danger: #E62B2B;

  /* Neutrals */
  --color-dark: #000000;
  --color-light: #FFFFFF;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}